<div class="container-fluid">

  <div class="row">
    <h1 class="col-12 text-center mb-5">Contents</h1>
    <h4 class="col-12 text-center mb-5">- New -</h4>
  </div>

  <div class="side_left">
    <%= link_to new_content_path do %>
    <i class="far fa-plus-square fa-3x"></i>
    <% end %>
  </div>


  <div class="container-fluid main_contents">
    <div class="row scroll-list jscroll mx-auto">
      <div class="jscroll-inner d-flex flex-wrap w-100">
        <%= render partial: 'index', collection: @contents_reverse, as: 'content' %>
        
      </div>
    </div>
  </div>

  <div class="side_right">
    <span id="back">
      <a href="#">
        <i class="fas fa-angle-double-up fa-3x"></i>
      </a>
    </span>
  </div>

</div>
