// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my_message {
  margin-left: 20% ;
}

.partner_message {
  margin-right: 20% ;
}


.sent_time {
  font-size: 12px;
}

.text_message {
  word-break: break-all;
  // white-space: pre-wrap;
  // text-indent:0px;
}