// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-image1 {
  background-image: image-url("1.jpeg");
}
.background-image2 {
  background-image: image-url("2.jpeg");
}
.background-image3 {
  background-image: image-url("3.jpeg");
}
.background-image4 {
  background-image: image-url("4.jpeg");
}
.background-image5 {
  background-image: image-url("5.jpeg");
}
.background-image6 {
  background-image: image-url("6.jpeg");
}
.background-image7 {
  background-image: image-url("7.jpeg");
}
.background-image8 {
  background-image: image-url("8.jpeg");
}
.background-image9 {
  background-image: image-url("12.jpeg");
}