// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.side_left {
  position: -webkit-fixed;
  position: fixed;
  bottom: 0;
  padding: 10px;
  margin: 0;
  line-height: 3;
}